@import "tailwindcss";

:root {
  /* --background: #efefef;
  --foreground: #000000;
  --black: #222222;
  --blue: #1c5d99;
  --green: #639fab;
  --light-blue: #bbcde5; */
  --white: #ffffff;
  --bright-snow: #f8f9fa;
  --platinum: #e9ecef;
  --alabaster-grey: #dee2e6;
  --pale-slate: #ced4da;
  --pale-slate-2: #adb5bd;
  --slate-grey: #6c757d;
  --iron-grey: #495057;
  --gunmetal: #343a40;
  --shadow-grey: #212529;
  --black: #000000;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    }
    } */

@theme inline {
  /* --color-background: var(--bright-snow);
  --color-foreground: var(--foreground); */
  --color-white: var(--white);
  --color-bright-snow: var(--bright-snow);
  --color-platinum: var(--platinum);
  --color-alabaster-grey: var(--alabaster-grey);
  --color-pale-slate: var(--pale-slate);
  --color-pale-slate-2: var(--pale-slate-2);
  --color-slate-grey: var(--slate-grey);
  --color-iron-grey: var(--iron-grey);
  --color-gunmetal: var(--gunmetal);
  --color-shadow-grey: var(--shadow-grey);
  --color-black: var(--black);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
